@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navigation {
    color: rgb(0, 0, 0);
}

.navigation_list {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navigation_list li {
    padding: 20px;
    text-decoration: none;
}

.no-underline {
    text-decoration: none;
    font-weight: 600;
}

.text_size {
    font-size: 18px !important;
    margin-left: 12px;
    position: relative;
}

.text_size::before {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 0px;
    height: 8px;
    background-color: #ccfff4;
    transition: width 0.4s ease-in-out;
}

.text_size:hover::before {
    width: 100%;
}

.cover {
    background-image: url("./media/img/covergif2.gif");
/*    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;*/
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    background-position: center center;
}

.line {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background: blueviolet;
}

ul {
    z-index: 99;
    position: absolute;
    list-style: none;
    right: 30px;
}

ul li {
    display: inline-block;
    margin: 15px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.container_cover {
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;

}

.introduction_photo {
    margin-left: 60px;
    width: 100%;
}

.how {
    text-shadow: 2px 2px 4px #499fd5;
    font-family: 'Lobster', sans-serif;
    color: #2B9CE1;
}

.intro_picture {
    border-radius: 20%;
}


.vt_name {
    text-shadow: 1px 1px 4px #499fd5;
    color: #000000;
}

.vt_details {
    color: #499fd5;
}

.comparti_name {
    color: #E70A1B;
}

.comp-hover:hover {
    color: #E70A1B;
    cursor: pointer;
}

.comp {
    border-radius: 10%;
}

.do_you {
    /* text-shadow: 2px 2px 4px #499fd5;*/
    font-family: 'Lobster', sans-serif;
    color: #2B9CE1;
    margin-bottom: 30px;
    margin-left: 55px;
    text-shadow: 2px 2px 4px #ffe9e9;
}

.help {
    margin-top: 70px;
    margin-bottom: 30px;
}